* {
  color: white;
}

body {
  min-height: 100vh;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 70px;
  height: 100%;
  align-content: center;
  padding-top: 60px;
  padding-bottom: 60px;

}

h2 {
  color: #e94756;
}

.project {
  width: 34em;
  min-height: 390px;
  background-color: #1e2031;
  padding: 40px;
  transition: 1s;
  cursor: pointer;
}

i {
  color: #e94756;
  font-size: 40px;
}

.project:hover {
  /* transform: translateY(-1rem); */
  transform: scale(1.1);
  transition: 0.6s;
}

.iconSkills {
  display: flex;
  gap: 30px;
  justify-content: center;
}

@media (max-width: 1000px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
}