.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 25px;
  padding-top: 50px;
}

h2 {
  color: #e94756;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input, textarea {
  width: 100%;
  padding: 12px 20px;
  border: 2px #e94756;
  border-radius: 4px;
  resize: none;
}

.socialIcons {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

i {
  font-size: 50px;
  color: #e94756;
}

@media (max-width: 1000px) {
  .container {
    flex-direction: column;
  }

  .socialIcons {
    flex-direction: row;
  }
}