* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}

.container {
  margin: 80px 5vw 80px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

h2 {
  font-family: aktiv-grotesk-hebrew, sans-serif;
  font-size: 90px;
  line-height: 125px;
}

.skillContainer h3 {
  color: #e94756;
  font-size: 40px;
  margin: 10px 0px 25px;
}

.skill h3 {
  color: #fff;
  font-size: 20px;
}

.fa-brands,
.fa-solid {
  color: #e94756;
  font-size: 40px;
  line-height: 80px;
}

.profile p {
  max-width: 30vw;
}

.skills {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 80px;
  /* display: flex;
  justify-content: center;
  flex-wrap: wrap; */
}

.skill {
  background-color: #1e2031;
  padding: 30px;
  /* width: 30vw; */
  margin: 10px;
  transition: 1s;
}

.skill:hover {
  transition: 0.3s;
  transform: translateY(-1rem);
}

@media (max-width: 1000px) {
  .skills {
    grid-template-columns: 1fr;
  }
}
